<h1>Welcome to The Office. Look at all our employeees</h1>

<% @employee.each do |employee| %>
<div><h3><%= link_to employee.first_name, employee %></h3></div>
<% end %><br>
<h1><%=link_to "Give Birth To a New Labor Body", new_employee_path%></h1>