<%= link_to 'All Dogs', '/dogs' %> <br>
<%= link_to "Create an Employee", "employees/new" %><br>

<h1>The Dunder Mifflin Paper Company</h1>
<h2>Here's a list of all of our employees: </h2>

<h3>
    <ul>
        <% @employees.each do |employee| %>
            <li>
                <%= link_to employee.full_name, employee %>
            </li>
        <% end %>
    </ul>
</h3>
