<%= link_to 'All Employees', '/employees' %> <br>
<%= link_to "Create an Employee", "employees/new" %><br>

<h1>The Dunder Mifflin Pet Show</h1>
<h2>Here's a list of all of our dogs: </h2>

<h3>
    <ul>
        <% @dogs.each do |dog| %>
            <li>
                <%= link_to dog.name, dog %>
            </li>
        <% end %>
    </ul>
</h3>